[submodule "hbs-sys/heartbeats-simple"]
	path = hbs-sys/heartbeats-simple
	url = https://github.com/libheartbeats/heartbeats-simple.git
[submodule "hbs-acc-sys/heartbeats-simple"]
	path = hbs-acc-sys/heartbeats-simple
	url = https://github.com/libheartbeats/heartbeats-simple.git
[submodule "hbs-pow-sys/heartbeats-simple"]
	path = hbs-pow-sys/heartbeats-simple
	url = https://github.com/libheartbeats/heartbeats-simple.git
[submodule "hbs-acc-pow-sys/heartbeats-simple"]
	path = hbs-acc-pow-sys/heartbeats-simple
	url = https://github.com/libheartbeats/heartbeats-simple.git
